node_modules
*.log
.next
app
dist
out/
storybook-static
src/web/logs
/browser
.history

# IDEs and editors
/.idea

# System Files
.DS_Store
*.tsbuildinfo
storybook-static

tools/
*.p8
.env
.env-stg
.env-dev
.env-rex

prisma/app.db
prisma/dev.db
prisma/app.db-journal
prisma/dev.db-journal
*.mjs

/.node-red/node_modules
/.node-red/nodes

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.npmrc
ewx/output/*
ewx/binaries/*
!ewx/binaries/.gitkeep
